.grap-config {
  width: 100%;
  height: 989px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  overflow: hidden;
  background: rgba(254, 255, 255, 1);
}

.grapBox {
  width: 50%;
  height: 545px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grapBox2 {
  width: 50%;
  height: auto;
}
