.chat-config {
  position: absolute;
}

.chat {
  position: fixed;
  width: 40%;
  height: 400px;
  background: rgba(213, 238, 255, 1);
  bottom: 24%;
  left: 28%;
  z-index: 999;
  border-radius: 12px;
}

.btnCon {
  position: fixed;
  bottom: 4%;
  left: 93%;
  z-index: 999;
  cursor: pointer;
}

.mainIcon {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 28px;
  margin-top: 30px;
  margin-right: 35px;
}

.imgCon {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 25%;
}

.mainClose {
  position: relative;
  display: flex;
  justify-content: end;
}

.closeIcon {
  position: absolute;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(217, 217, 217, 0.33);
  right: -45px;
  top: -62px;
  cursor: pointer;
}

.footInput {
  width: 99.7%;
  height: 83%;
  display: flex;
  flex-direction: row;
  align-items: end;
  margin-bottom: 17px;
}

.addIcon {
  width: 80px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 17px;
}

.mainInput {
  width: 85%;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.78);
  border-radius: 50px;
  margin-bottom: 17px;
}

.input {
  width: 80%;
  height: 48px;
  border-radius: 50px;
  padding-left: 30px;
}

.smileIcon {
  width: 20%;
  display: flex;
  align-items: center;
}

.emoji-picker {
  position: absolute;
  right: -400px;
  top: 0;
}
