.chat-config {
  position: absolute;
}

.chat {
  position: fixed;
  width: 400px;
  height: 520px;
  background: rgb(213, 228, 255);
  bottom: 15%;
  right: 8px;
  z-index: 999;
  border-radius: 12px;
}

.btnCon {
  position: fixed;
  bottom: 3%;
  right: 0;
  z-index: 999;
  cursor: pointer;
}

.btn {
  border: none;
  background: none;
}

.mainIcon {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 28px;
  padding: 20px;
}

.imgCon {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  margin-left: 25%;
  margin-right: -20px;
  margin-top: 20px;
}
.bellIcon {
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.mainClose {
  position: relative;
  display: flex;
  justify-content: end;
}

.closeIcon {
  position: absolute;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(217, 217, 217, 0.33);
  left: -40px;
  bottom: 57.5px;
  cursor: pointer;
}

.footInput {
  width: 99.7%;
  height: 83%;
  display: flex;
  flex-direction: row;
  align-items: end;
  margin-bottom: 17px;
}

.addIcon {
  width: 48px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 17px;
}

.mainInput {
  width: 85%;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.78);
  border-radius: 50px;
  margin-bottom: 17px;
}

.input {
  width: 80%;
  height: 48px;
  border-radius: 50px;
  padding-left: 30px;
}

.smileIcon {
  width: 20%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.emoji-picker2 {
  position: absolute;
  width: 250px;
  height: 300px;
  bottom: 135px;
  left: -355px;
}
