#nav-config {
  width: 100%;
  height: auto;
  background: rgb(255, 247, 245);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-nav {
  width: 100%;
  height: 8%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(254, 255, 255, 1);
  z-index: 999;
  bottom: 92%;
}

.btn-head {
  background: linear-gradient(
    to right,
    rgba(16, 157, 225, 1),
    rgba(193, 0, 255, 1)
  );
}

.Navlink {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  padding-left: 6%;
  opacity: 0;
}

.link-design {
  font-weight: 400;
  text-decoration: none;
  font-size: 21px;
}

.imgBack {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.imgBack img {
  width: 50%;
  aspect-ratio: 1 / 1;
}
